/*Limpar formatações padrão*/

*{
	 margin: 0;
	 padding: 0;
}


body{
	background: #DCDCDC;
}

a {
	color: #FFF;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px;
}

a:link {
	color: #FFF;
}

a:visited {}

a:hover{
	background: #FFF;
	color: orange;
}

.menu{
	margin: 0px;
	text-align: center;
	background: orange;
	padding: 20px;

}